---
layout: archive
---

{{ content }}

<h3 class="archive__subtitle">{{ "My Musings" }}</h3>
<!-- <h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "My Musings" }}</h3> -->

<!-- This is a comment in HTML saleem -->
{% include shbasicintro.html %}
<p>This is a paragraph of text.</p>
<!-- <p>This paragraph is commented out.</p> -->

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}
